<div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr class="table-primary">
          <th>Edit/Remove</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Age</th>
          <th>Date of Birth</th>
          <th>Employee ID</th>
          <th>Date of Employment</th>
          <th>Department</th>
          <th>Salary</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of myEmployees | multifilter: (multiFilter!)">
          <td><button type="button" class="btn btn-glow-dark btn-dark" title="btn btn-glow-dark btn-dark">Update</button></td>
          <td>{{employee["First Name"]}}</td>
          <td>{{employee["Last Name"]}}</td>
          <td>{{employee["Age"]}}</td>
          <td>{{employee["Birth"]}}</td>
          <td>{{employee["Employee ID"]}}</td>
          <td>{{employee["Employment Date"]}}</td>
          <td>{{employee["Department"]}}</td>
          <td>{{employee["Salary"]}}</td>
          <td>{{employee["Email"]}}</td>
        </tr>
      </tbody>
    </table>
  </div>