<div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr class="table-primary">
          <th>Entry</th>
          <th>ID</th>
          <th>Post</th>
          <th>Email</th>
          <th>Save to Archive</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of myData | entryfilter : entryID! | postfilter : postID! | emailfilter : email! | namefilter : name! ">
          <td>{{data.id}}</td>
          <td>{{data.postId}}</td>
          <td>{{data.name}}</td>
          <td>{{data.email}}</td>
          <td><button type="button" class="btn btn-glow-dark btn-dark" title="btn btn-glow-dark btn-dark">Save Entry</button></td>
        </tr>
      </tbody>
    </table>
  </div>