<div class="row">
    <div class="col-xl-12">
      <app-card cardTitle="Data Table" [options]="false" blockClass="table-border-style">
        <div class="row" style="margin-bottom: 1%;">
          <div class="form-group row">
            <div class="col-md-2" style="margin-right: -4.5%;">
              <label for="entriesSelector" class="col-form-label"><h5>Display Entries:</h5></label>
            </div>
            <div class="col-md-1">
              <select class="form-select" id="entriesSelector" #entries (change)="onSelected(entries.value)">
                <option value="5" default>5</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </div>
            <div class="col-md-4" style="margin-left: 46.1%;">
              <input type="text" class="form-control" placeholder="Enter text to filter" id="multiFilter" [formControl]="multiFilter">  
            </div>
            <div class="btn-group mb-2 me-2 col-md-2" style="margin-left: 83.35%; margin-top: 1%;">
              <button type="button" class="btn btn-glow-dark btn-dark" routerLink="add">Add Employee</button>
            </div>
          </div>
          <!-- <div class="form-group col-md-3" style="margin-left: 66.6%;">
          </div> -->
        </div>
        <div *ngIf="employeeData$ | async as employeeData">
          <app-employee-list [myEmployees]="employeeData" [multiFilter]="multiFilter.value" [noOfItems]="entriesDisplayed"></app-employee-list>
        </div>
      </app-card>
    </div>
  </div>
  