<form>
    <div class="form-group">
        <input #emailControl="ngModel" appEmailValidator appHover color="pink" type="email" class="form-control" name="name" [(ngModel)]="email" placeholder="Provide Username"/>
        <div>{{emailControl.errors | json}}</div>
    </div>
    <div class="form-group">
        <input appHover type="password" class="form-control" name="name" [(ngModel)]="password" placeholder="Provide Password"/>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" (click)="login()">Login</button>
    </div>
</form>