<!DOCTYPE html>
<html>
  <!-- <app-rooms></app-rooms> -->

  <!-- <app-container>
    <app-rooms></app-rooms>
    <app-employee></app-employee>
    <h1>This if from ng-content</h1>
  </app-container> -->

  <!-- <div #name></div> -->

  <!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'User'">
      Welcome User!
    </div>

    <div *ngSwitchCase="'Admin'">
      <app-rooms></app-rooms>>
    </div>

    <div *ngSwitchDefault>
      You are not authorized to see this page.
    </div>
  </div> -->

  <!-- <div>
    <ng-template #user></ng-template>
  </div> -->
  <!-- <a [routerLink]="'rooms'">Rooms</a>
  <a [routerLink]="'employee'">Employees</a> -->

  <app-app-nav></app-app-nav>
  <router-outlet></router-outlet>
</html>